@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,700;1,800&display=swap');
/* colors */
:root {
  --white: hsl(0, 0%, 100%);
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
/* general styles */
body {
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
h1{
  margin: 0;
  padding: 0;
  font-size: 55px;
  font-style: italic;
  letter-spacing: -1px;
  color: var(--off-black);
}
a { 
  color: var(--purple); 
}
main{
  height: auto;
  width: auto;
  padding: 30px;
  box-sizing: border-box;
  background-color: var(--white);
  border-radius: 20px;
  border-bottom-right-radius: 85px;
}
/* form styles */
form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  gap: 60px;
}
label{
  font-size: 14px;
  color: var(--smokey-grey);
  letter-spacing: 2px;
  font-weight: 600;
}
input{
  font-size: 20px;
  color: var(--off-black);
  border: 1px solid var(--light-grey);
  border-radius: 7px;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}
input:hover, input:focus{
  outline: none;
  border-color: var(--purple);
}
.option{
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 3px;
}
.inputs{
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  gap: 20px;
  box-sizing: border-box;
}
.line{
  display: flex;
  height: 2px;
  width: 100%;
  background-color: var(--light-grey);
}
.container{
  display: flex;
  height: 70px;
  width: 100%;
  position: relative;
  justify-content: center;
}
button{
  border: none;
  border-radius: 100%;
  background-color: var(--purple);
  padding: 25px;
  box-sizing: border-box;
  max-width: 70px;
  max-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  cursor: pointer;
}
button:hover{
  background-color: var(--off-black);
}
img{
  width: 30px;
  height: 30px;
}
.results{
  line-height: 1;
}
.input-invalid{
  border-color: var(--light-red);
}
.message-error{
  color: var(--light-red);
}
/* responsive styles */
@media (min-width: 700px){
  h1{
    font-size: 80px;
  }
  main{
    width: 650px;
    border-bottom-right-radius: 145px;
  }
  input{
    max-width: 120px;
  }
  .container{
    justify-content: flex-end;
    height: 45px;
  }
  form{
    gap: 30px;
  }
  button{
    bottom: 25%;
  }
}